
.perscard {
    margin-top: 80px;
    display: flex;
    margin-left: 100px;
    margin-right: 100px;
    
}

.perscr {
    height: 300px;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    border-width: 0ch;
    box-shadow: 0 0 18px;
    color: #E8E8E8;
    background-color: transparent;
    border-radius: 40%;
    align-items: center;
}

.perscr:hover {
 background-color: #3498db;
}

.persim {
    height: 200px;
    width: 250px;
    border-radius: 20px;

    
    
}